<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" media="none" onload="if(media!='all')media='all'">
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/angularjs/angular.js"></script>
</head>

<style>
    .navigation div{
        width: 100px;
        height: 46px;
        padding-top: 10px;
        cursor: pointer;
    }
    .navigation div:hover{
        background: #e52f22;
    }

    .region{
        border: 2px solid #050b50;
        color: #050b50;
        cursor: pointer;
    }
    .region:hover{
        background: #050b50;
        color: white;
    }
    .point:hover{
        cursor: pointer;
    }
</style>
<body  style="font-family: 微软雅黑">

<div id="about" style="overflow-x: auto" align="center" ng-app="myApp" ng-controller="MyCtrl as ctrl">
    <!--头部-->
    <div style="width: 1230px; margin-top: 10px; position: relative" align="center">

        <div style="display: inline-block;vertical-align: middle;height: 80px;">
            <!--企业信息logo和铭牌-->
            <img style="height: 100%" src="http://qidailaw.liphin.com:3100/assets/img/mini/mini13.jpg">
        </div>
        <!--<div style="width: 650px;vertical-align: middle;display: inline-block;">-->
        <!--<span style="font-size: 55px;font-family: 微软雅黑">明辨，慎思，期待，进取</span>-->
        <!--</div>-->

        <!--电话-->
        <!--<div style="display: inline-block;vertical-align: middle;margin-left:20px;">-->
        <!--<i class="fa fa-volume-control-phone" style="color: #050b50; font-size: 30px;"></i>-->
        <!--<h2 style="color: #050b50; font-size: 30px; display: inline-block; margin-left: 20px">020-84772013</h2>-->
        <!--</div>-->

        <div style="display: inline-block;vertical-align: middle;margin-left: 60%">
            <span style="line-height: 29px;">
                <p style="font-family: 宋体;">
                    <span style="font-size: 24px; font-family: 微软雅黑;">020-84772013</span>
                </p>
                <p style="font-family: 宋体">
                    <i class="fa fa-volume-control-phone" style="color: #C40000; font-size: 25px;"></i>
                    <span style="font-family: 微软雅黑;font-size: 25px;margin-left: 15px">服务热线</span>
                </p>
            </span>
        </div>

    </div>

    <!--导航及轮播-->
    <div style="margin-top: 10px;background: #151515;" align="center">
        <!--导航栏-->
        <div style="width: 1230px; height: 46px;">
            <div class="navigation" style="margin-left: 30px;display: flex; flex-direction: row;color: white; font-size: 17px">
                <div onclick="window.location='./index.html#main'">首页</div>
                <div onclick="window.location='./about.html'">关于我们</div>
                <div onclick="window.location='./index.html#direction'">服务方向</div>
                <div onclick="window.location='./index.html#regions'">业务领域</div>
                <div onclick="window.location='./team.html'">专业团队</div>
            </div>
        </div>
    </div>
    <div style="width: 1349px; height: 400px; cursor: default; background-position: 50% 50%; background-repeat: no-repeat; overflow: hidden; display: block; outline: none; margin: 0px auto; position: relative; z-index: 1; background-size: cover; background-image: url(http://qidailaw.liphin.com:3100/assets/img/mini/desktop17.jpg);">

    </div>

    <div id="aboutUs" style="width:100%;text-align: center;margin-top: 40px;background: white">
        <!--关于我们-->
        <div align="center" style="margin-bottom: 30px;">
            <div style="color: #C40000;font-size: 30px;font-weight: 600;">关于我们</div>
            <div style="font-size: 20px;color: #4a4a4a">我们是您值得信赖的伙伴</div>
            <hr style="width: 1230px;color: #000000;">
        </div>
    </div>

    <!--介绍-->
    <div style="width: 100%;margin-top: 20px" align="center">
        <div style="width: 1230px;background: white;font-size: 17px; text-align: left; padding: 20px 20px 20px 20px;box-shadow: 0 0 5px #858585; ">
            <div style="margin-top: 10px">
                <p style="text-indent: 2em;font-size: 18px;font-family: 微软雅黑">
                    广东期待律师事务所是司法厅核准的普通合伙制律师事务所；设立以来，一直秉承“慎思、明辩、期待、进取”原则，贯彻“法律公正至上”和“为当事人（客户）谋取最大法律利益”的执业理念，携手团结，求实创新，争创中国一流律师事务所。广东期待律师所位于广州市番禺区的核心商务区，办公地点在广州市番禺区公证处楼上；拥有较多的资深注册执业律师。期待所的律师以扎实的法律功底、娴熟的法律技巧、丰富的实践经验、良好的职业道德、较强的社会协调能力为广大客户提供了优质而满意的法律服务，获得多项荣誉。
                </p>
            </div>
            <div style="margin-top: 10px">
                <p style="text-indent: 2em;font-size: 18px;font-family: 微软雅黑">
                    广东期待律师所要求每位律师都要有自己的专业方向和专业分工，在自己的专业领域作深作强，以更好地在知识结构、时间与效率等方面向客户提供全方位的优质法律服务。
                </p>
            </div>
            <div style="margin-top: 10px">
                <p style="text-indent: 2em;font-size: 18px;font-family: 微软雅黑">
                    期待律师团队每年提供法律顾问服务的企业超过数十家。其中不乏行业协会、民办非企业、文化协会、运输公司、银行等大型企业，也包含村委、居民委员会等单位，不仅解决服务企业的需求，而且为行业法律趋势和风险规避提供有效提示。特别是通过这几年与房地产、旅游等行业共同经历的市场风云，使我们与各行业之间建立了良好的沟通渠道。
                </p>
            </div>
            <div style="margin-top: 10px">
                <p style="text-indent: 2em;font-size: 18px;font-family: 微软雅黑">
                    期待律师团队每年承办数百件诉讼案件，包括房地产纠纷、物理管理纠纷、知识产权纠纷等类型，期待所律师的专业服务水平及全方位的服务得到了社会和司法机关普遍的认可与承认，形成了良好的口碑。
                </p>
            </div>
        </div>
    </div>

    <!--联系我们-->
    <div id="connect" style="margin-top: 40px;background: white">
        <!--业务领域-->
        <div align="center" style="margin-bottom: 30px;">
            <div style="color: #0f16b4;font-size: 30px;font-weight: 600;">联系我们</div>
            <div style="font-size: 20px;color: #4a4a4a">非常欢迎您的致电和到来</div>
            <hr style="width: 90%;color: #000000;">
        </div>
    </div>

    <div style="width: 100%;background: white" align="center">
        <iframe src="baidumap.html" style="width: 1200px; height: 400px; overflow: hidden"></iframe>
    </div>


    <!--尾部-->
    <div style="width: 100%; height: 600px;background-image: url(http://qidailaw.liphin.com:3100/assets/img/mini/mini20.jpg);background-size: cover">
        <div style="width: 1230px;margin-top: 30px; position: relative;text-align: center">
            <div style="display: inline-block;position:relative;margin-top:60px;height: 500px;width: 500px;overflow: hidden;" align="left">
                <p style="font-size: 30px;font-weight: bold;color: white">联系我们</p>
                <p style="font-size: 13px;color: #e9e9e9">我们将与您携手共进，为公平正义而奋斗</p>
                <p style="font-size: 16px;color: white;margin-top: 30px">电话：020-84772013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮编：511400</p>
                <p style="font-size: 16px;color: white;">邮箱：3166862528@qq.com</p>
                <p style="font-size: 16px;color: white;">地址：广东省广州番禺区富华东路518号桥力大厦三楼</p>
                <p style="font-size: 16px;color: white;">（即番禺区公证处所在大楼三楼）</p>
            </div>
            <div style="display: inline-block;position:relative;margin-top:60px;height: 500px;width: 500px;margin-left: 70px;overflow: hidden;" align="left">
                <p style="font-size: 30px;font-weight: bold;color: white">法律咨询</p>
                <p style="font-size: 13px;color: #e9e9e9">免费法律咨询，请留言提交，我们将以最快的速度回复</p>
                <p style="margin-top: 30px">
                    <span style="font-size: 16px;color: white;">姓名：</span>
                    <span><input class="inputStyle" style="padding:5px;height:35px;width: 170px;" type="text" ng-model="ctrl.msgInfo['name']" maxlength="50"
                                 placeholder=""></span>
                    <span style="font-size: 16px;color: white;margin-left: 20px;">电话：</span>
                    <span><input class="inputStyle" style="padding:5px;height:35px;width: 170px;" type="text" ng-model="ctrl.msgInfo['phone']" maxlength="50"
                                 placeholder="">
                    </span>
                </p>
                <p style="margin-top: 15px">
                    <span style="font-size: 16px;color: white;">邮箱：</span>
                    <span><input class="inputStyle" style="padding:5px;height:35px;width: 220px;" type="text" ng-model="ctrl.msgInfo['mail']" maxlength="50"
                                 placeholder="">
                    </span>
                    <span style="font-size: 16px;color: #fff424">（*电话和邮箱任填一个*）</span>
                </p>
                <p style="margin-top: 15px;">
                    <span style="font-size: 16px;color: white;">内容：</span>
                </p>
                <p style="margin-top: 15px;">
                    <span>
                        <textarea class="textAreaStyle" style="padding:5px;width: 500px; height: 150px" ng-model="ctrl.msgInfo['content']"
                                  placeholder="">
                        </textarea>
                    </span>
                </p>
                <div style="width: 500px; height: 50px;text-align: center;padding-top: 17px; border: 1px solid lightgrey; border-width: 1px 0 0 0; margin-top: 20px">
                    <button ng-click="ctrl.cancleInfo()" class="btn btn-default"
                            style="display:inline;width: 120px;height: 40px">重置
                    </button>
                    <button ng-click="ctrl.saveMsgInfo()" class="btn btn-success"
                            style="margin-left:80px;display:inline;width: 120px;height: 40px">提交
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 100%; height: 200px;background: #151515;" align="center">
        <div style="width: 1230px; color: white; position: relative;text-align: center">
            <div>
                <li class="fa fa-handshake-o" style="margin-top: 20px;font-size: 50px"></li>
            </div>
            <div style="margin-top: 10px">
                <span style="font-size: 40px;color: white;font-family: 华文隶书">慎思，明辨，期待，进取</span>
            </div>
            <div style="margin-top: 10px">
                <span style="font-size: 15px;color: whitesmoke">选择我们，我们将为您提供专业优质的法律服务</span>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.factory('MyData',function () {
        var serverHost = 'http://qidailaw.liphin.com';
        var frontSerPort = 3100;
        var backSerPort = 8085;

        var saveMsgInfo = serverHost+":"+backSerPort+"/saveMsgInfo";
        var miniMainHtml = serverHost+":"+frontSerPort+"/src/officialPages/phone/mini/index.html";


        var requestDataErrorMsg = "尊敬的客户，服务异常，请稍后重试";

        var overallData = {
            loadData: false, //标识是否正在加载新闻数据
        };

        //留言信息管理
        var msgInfo = {
            'name':'',
            'phone':'',
            'mail':'',
            'content':'',
            'status_cd':0,
            'timestamp':'',
        };
        var zIndexHelper = {
            'loadData': 500000,
        };

        return {
            overallData:overallData,
            zIndexHelper:zIndexHelper,
            msgInfo:msgInfo,
            saveMsgInfo:saveMsgInfo,
            miniMainHtml:miniMainHtml,
            requestDataErrorMsg:requestDataErrorMsg,
        }
    });
    app.factory('MyGeneralSer',function ($window, $document, $http, MyData) {
        /** 工具类 **************************************************************************************/
        /**
         * 对数据进行判空处理
         * @param data
         */
        var checkDataNotEmpty = function (data) {
            var status = false;
            if (data != null && data != undefined) {
                //根据变量的不同类型进行判空处理
                switch (Object.prototype.toString.call(data)) {
                    /*String类型数据*/
                    case '[object String]': {
                        if (data.trim() != '') {
                            status = true;
                        }
                        break;
                    }
                    /*Array类型*/
                    case '[object Array]': {
                        if (data.length > 0) {
                            status = true;
                        }
                        break;
                    }
                    /*Object类型*/
                    case '[object Object]': {
                        if (Object.keys(data).length > 0) {
                            status = true;
                        }
                        break;
                    }
                    /*其他类型状态默认设置为true，分别为Number和Boolean类型*/
                    default: {
                        status = true;
                        break;
                    }
                }
            }
            return status;
        };

        /**
         * http get获取资源数据
         */
        var httpGetFiles = function (url, callback) {
            //设置loading状态
            MyData.overallData['loadData'] = true;

            $http({
                method: 'GET',
                url: url
            }).then(function successCallback(response) {
                if (response['status'] == 200) {
                    //返回正确操作后执行回调函数
                    callback(response['data'])

                } else {
                    alert(MyData.requestDataErrorMsg + ",.");
                }
            }, function errorCallback(err) {
                alert(MyData.requestDataErrorMsg + ".,");

            }).finally(function () {
                //重置loading状态
                MyData.overallData['loadData'] = false;
            });
        };


        /**
         * http post获取资源数据
         */
        var httpPostData = function (url, obj, callback) {
            //设置loading状态
            MyData.overallData['loadData'] = true;

            var fd = new FormData();
            //动态装载数据
            for (var i in obj) {
                fd.append(i, obj[i]);
            }
            $http.post(url, fd, {
                transformRequest: angular.identity,
                headers: {'Content-Type': undefined},

            }).success(function (response) {
                //返回正确操作后执行回调函数
                // callback(response);
                if (response['status_code'] == 200) {
                    //返回正确操作后执行回调函数
                    callback(response['data']);

                } else {
                    alert(MyData.requestDataErrorMsg + ".");
                }
            }).error(function (err) {
                alert(MyData.requestDataErrorMsg + ",");

            }).finally(function () {
                //设置loading状态
                MyData.overallData['loadData'] = false;
            });
        };


        /**
         * 组装生成新闻时间
         * @param createTime
         * @returns {string}
         */
        var generateShowTime = function (createTime) {
            var today = new Date();
            today.setHours(0);
            today.setMinutes(0);
            today.setSeconds(0);

            var replaceTime = createTime.replace(/\-/g, "/");
            var targetTime = new Date(replaceTime);
            if (today - targetTime < 0) {
                //当天发的新闻
                var Hours=targetTime.getHours();
                var Minutes=(targetTime.getMinutes()).toString();
                if (Minutes.length<2) {
                    Minutes="0"+Minutes;
                }

                return Hours + ":" + Minutes;

            } else {
                //之前发的新闻
                return (targetTime.getMonth()+1) + "月" + targetTime.getDate() + "日";
            }
        };

        return {
            checkDataNotEmpty:checkDataNotEmpty,
            httpGetFiles:httpGetFiles,
            httpPostData:httpPostData,
            generateShowTime:generateShowTime,

        }
    });
    app.factory('MySer',function ($window, $document, $http, MyData, $location, MyGeneralSer) {
        var saveMsgInfo = function () {
            if(!MyGeneralSer.checkDataNotEmpty(MyData.msgInfo['name'])) {
                alert("请输入您的称呼");
                return;
            }
            else if(!MyGeneralSer.checkDataNotEmpty(MyData.msgInfo['phone'])&&!MyGeneralSer.checkDataNotEmpty(MyData.msgInfo['mail'])) {
                alert("请输入您的联系电话或邮箱");
                return;
            }
            else if(!MyGeneralSer.checkDataNotEmpty(MyData.msgInfo['content'])) {
                alert("请输入您需要咨询的问题");
                return;
            }

            var timestamp = (new Date()).valueOf();
            MyData.overallData['loadData'] = true;
            MyData.msgInfo['timestamp'] = timestamp;

            MyGeneralSer.httpPostData(MyData.saveMsgInfo,MyData.msgInfo,function (response) {
                MyData.overallData['loadData'] = false;
                alert("感谢您的信任，我们会尽快安排专业的律师与您联系");
                cancleInfo();
            });
        }

        var cancleInfo = function () {
            MyData.msgInfo['name']='';
            MyData.msgInfo['phone']='';
            MyData.msgInfo['mail']='';
            MyData.msgInfo['content']='';
            //$rootScope.$apply();
        }



        return {
            saveMsgInfo:saveMsgInfo,
            cancleInfo:cancleInfo,
        }
    });
    app.controller('MyCtrl',function ($scope,MyData,MySer) {
        var ctrl = this;
        ctrl.msgInfo = MyData.msgInfo;
        ctrl.overallData = MyData.overallData;

        /**
         * 保存留言
         * @see MySer.saveMsgInfo
         */
        ctrl.saveMsgInfo = function () {
            MySer.saveMsgInfo();
        }
        /**
         * 重置面板
         * @see MySer.cancleInfo
         */
        ctrl.cancleInfo = function () {
            MySer.cancleInfo();
        }
    });
</script>

</body>
</html>