<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>婚姻继承</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://viewcoder-bucket.oss-cn-shenzhen.aliyuncs.com/cdn/js/jquery/jquery-1.11.0.js"></script>
    <script src="/assets/js/angularjs/angular.js"></script>
</head>

<style>
    .navigation div{
        width: 100px;
        height: 46px;
        padding-top: 10px;
        cursor: pointer;
    }
    .navigation div:hover{
        background: #e52f22;
    }

    .region{
        border: 2px solid #050b50;
        color: #050b50;
        cursor: pointer;
    }
    .region:hover{
        background: #050b50;
        color: white;
    }
    .point:hover{
        cursor: pointer;
    }
</style>
<body  style="font-family: 微软雅黑">

<div style="overflow-x: auto" align="center" ng-app="myApp" ng-controller="MyCtrl as ctrl">
    <!--头部-->
    <div style="width: 1230px; margin-top: 10px; position: relative" align="center">

        <div style="display: inline-block;vertical-align: middle;height: 80px;">
            <!--企业信息logo和铭牌-->
            <img style="height: 100%" src="http://qidailaw.liphin.com:3100/assets/img/mini/mini13.jpg">
        </div>

        <div style="display: inline-block;vertical-align: middle;margin-left: 60%">
            <span style="line-height: 29px;">
                <p style="font-family: 宋体;">
                    <span style="font-size: 24px; font-family: 微软雅黑;">020-84772013</span>
                </p>
                <p style="font-family: 宋体">
                    <i class="fa fa-volume-control-phone" style="color: #C40000; font-size: 25px;"></i>
                    <span style="font-family: 微软雅黑;font-size: 25px;margin-left: 15px">服务热线</span>
                </p>
            </span>
        </div>

    </div>

    <!--导航及轮播-->
    <div style="margin-top: 10px;background: #151515;width: 100%;" align="center">
        <!--导航栏-->
        <div style="min-width: 1230px; height: 46px;">
            <div class="navigation" style="margin-left: 30px;display: flex; flex-direction: row;color: white; font-size: 17px">
                <div onclick="window.location='../index.html#main'">首页</div>
                <div onclick="window.location='../about.html'">关于我们</div>
                <div onclick="window.location='../index.html#direction'">服务方向</div>
                <div onclick="window.location='../index.html#regions'">业务领域</div>
                <div onclick="window.location='../team.html'">专业团队</div>
            </div>
        </div>
    </div>

    <!--图片展示-->
    <div style="width: 100%;min-width: 1200px; min-height: 150px; background: url(http://qidailaw.liphin.com:3100/assets/img/mini/mini21.jpg) no-repeat center center; background-size: cover">
        <div style="font-size: 40px;font-weight: bold;color: white; text-align: center;padding-top: 35px">
            <span style="padding: 30px">婚姻继承</span>
        </div>
    </div>


    <!--业务细节-->
    <div style="width: 100%;min-width: 1230px;margin-top: 40px;height: 700px;background: url(http://qidailaw.liphin.com:3100/assets/img/mini/mini24.jpg) no-repeat center center;background-size: cover">

        <!--您遇到的刑事辩护，是否与他们相似-->
        <div style="width: 1200px; margin-top: 30px;">
            <div style="width:1200px;height:120px;padding: 20px 0 20px 0;text-align: center;color: #FFFFFF">
                <div style="font-size: 22px; font-weight: bold">婚姻继承 案例分析</div>
                <div style="margin: 10px;font-size: 17px">——— 解决婚姻继承的各种问题 ———</div>
            </div>
            <div style="width: 1200px;height: 600px;text-align: center;">
                <div style="width: 1200px;height: 150px;text-align: center">
                    <div style="display:inline-block;width: 260px;height: 150px;background: url(http://qidailaw.liphin.com:3100/assets/img/mini/mini25.jpg) no-repeat center center;background-size: 260px 150px;overflow: hidden;"></div>
                    <div style="display:inline-block;margin-left:50px;width: 700px;height: 150px;text-align: left;overflow: hidden;">
                        <span style="color: white;font-size: 18px;font-weight: bold;">案情描述：</span>
                        <p style="text-indent:2em;margin-top:10px;color: white;font-size: 16px;font-family: 微软雅黑">
                            我和丈夫刘某签了离婚协议，约定将婚后我们共同购买的一套房产归我所有，现该房产已过户到我的名下。他现在反悔不同意离婚，说未到民政局办过离婚登记。请问，该离婚协议中我们已履行的财产部分是否有效？</p>
                    </div>
                </div>
                <div style="width: 1200px;height: 200px;text-align: center;margin-top: 50px">
                    <div style="display:inline-block;width: 260px;height: 200px;background: url(http://qidailaw.liphin.com:3100/assets/img/mini/mini26.jpg) no-repeat center center;background-size: 260px 180px;overflow: hidden;"></div>
                    <div style="display:inline-block;margin-left:50px;width: 700px;height: 200px;text-align: left;overflow: hidden;">
                        <span style="color: #FFFFFF;font-size: 18px;font-weight: bold">解决问题：</span>
                        <p style="text-indent:2em;margin-top:10px;color: #FFFFFF;font-size: 16px;font-family: 微软雅黑">
                            婚姻法第三十一条规定：“男女双方自愿离婚的，准予离婚。双方必须到婚姻登记机关申请离婚。婚姻登记机关查明双方确实是自愿并对子女和财产已有适当处理时，发给离婚证。”据此，离婚协议并不是普通的民事合同，而是涉及人身关系的特殊协议。离婚协议的效力，不但要有一般协议的有效要件，还需要具备法定登记机关也即婚姻登记机关进行离婚登记予以确认这一特定形式要件，才能产生法律效力，属于附生效条件的合同。</p>
                        <p style="text-indent:2em;color: #FFFFFF;font-size: 16px;font-family: 微软雅黑">
                            由于你们未办理离婚登记手续，协议离婚实际未完成，故离婚协议尚未生效，协议中所约定的财产仍属于夫妻共同财产。</p>
                    </div>
                </div>
            </div>
            <!--偷窃面临起诉-->
            <!--<div style="position: relative;">-->
            <!--&lt;!&ndash;标题党&ndash;&gt;-->
            <!--<div style="width:1100px;height:120px;background-size: cover;border-radius:20px 20px 0px 0px;padding: 30px 0 20px 0;background: url(http://qidailaw.liphin.com:3100/assets/img/mini/desktop08.jpg) no-repeat center center">-->
            <!--<div style="font-size: 22px; font-weight: bold">婚姻继承 案例分析</div>-->
            <!--<div style="margin: 15px 0 0 10px;font-size: 17px">——— 解决婚姻继承的各种问题 ———</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;文本描述&ndash;&gt;-->
            <!--<div style="width:1100px;height:400px;border-radius:0px 0px 20px 20px;background: white; color: grey; font-size: 15px; text-align: left; padding: 15px 70px 15px 70px; line-height: 170%">-->
            <!--<div style="margin-top: 10px">-->
            <!--<span style="color: #292929;font-size: 21px;font-weight: bold">案情描述：</span>-->
            <!--<p style="text-indent:2em;color: #292929;font-size: 21px;font-family: 华文宋体">我和丈夫刘某签了离婚协议，约定将婚后我们共同购买的一套房产归我所有，现该房产已过户到我的名下。他现在反悔不同意离婚，说未到民政局办过离婚登记。请问，该离婚协议中我们已履行的财产部分是否有效？</p>-->
            <!--</div>-->
            <!--<div style="margin-top: 10px">-->
            <!--<span style="color: #292929;font-size: 21px;font-weight: bold">解决问题：</span>-->
            <!--<p style="text-indent:2em;color: #292929;font-size: 21px;font-family: 华文宋体">婚姻法第三十一条规定：“男女双方自愿离婚的，准予离婚。双方必须到婚姻登记机关申请离婚。婚姻登记机关查明双方确实是自愿并对子女和财产已有适当处理时，发给离婚证。”据此，离婚协议并不是普通的民事合同，而是涉及人身关系的特殊协议。离婚协议的效力，不但要有一般协议的有效要件，还需要具备法定登记机关也即婚姻登记机关进行离婚登记予以确认这一特定形式要件，才能产生法律效力，属于附生效条件的合同。</p>-->
            <!--<p style="text-indent:2em;color: #292929;font-size: 21px;font-family: 华文宋体">由于你们未办理离婚登记手续，协议离婚实际未完成，故离婚协议尚未生效，协议中所约定的财产仍属于夫妻共同财产。</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>

    <!--团队展示、模式展示等-->
    <div style="width: 100%">
        <div style="width: 1230px;border: 1px solid gainsboro; box-shadow: 0 0 5px grey; display: flex; padding: 40px 0;margin: 70px 0; justify-content: center">
            <!--4对1全新办案模式-->
            <div>
                <!--头部文字第一行-->
                <div style="font-size: 30px">"1"对1专业定制化服务模式</div>
                <!--头部文字第二行-->
                <div style="font-size: 28px; color: #346889; font-weight: bold">力求精益求精</div>

                <!--图片-->
                <div style="width: 485px;height: 270px; margin-top: 20px;background: url(http://qidailaw.liphin.com:3100/assets/img/mini/desktop11.jpg) no-repeat center center;background-size: cover"></div>

                <!--文本描述-->
                <div style="line-height: 24px; width: 450px; font-size: 16px; margin-top: 20px">
                    根据每一个案件的特性配备一个专业的律师团队，全程跟进调查案件；
                    提供精准高效率的服务，对每一项工作都力求精益求精；
                    倾尽我们的一切专业能力让我们客户安心放心；
                </div>
            </div>

            <!--法律教授+资深律师组队-->
            <div style="margin-left: 50px">
                <!--头部文字第一行-->
                <div style="font-size: 30px">专业、细致、资深律师团队</div>
                <!--头部文字第二行-->
                <div style="font-size: 28px; color: #346889; font-weight: bold">轻松解决各种法律纠纷</div>

                <!--图片-->
                <div style="width: 485px;height: 270px; margin-top: 20px;background: url(http://qidailaw.liphin.com:3100/assets/img/mini/desktop12.jpg) no-repeat center center;background-size: cover"></div>

                <!--文本描述-->
                <div style="line-height: 24px; width: 450px; font-size: 16px; margin-top: 20px">
                    我们拥有强大的律师团队，每一位律师分工合作，为客户各种不同的需求提供针对性的
                    高效解决方案，办案机动灵活，尽最大努力为客户争取最好的结果。
                </div>
            </div>
        </div>
    </div>


    <!--形式辩护法律，服务范围-->
    <div align="center" style="width: 100%; height: 450px;font-family:微软雅黑;padding: 25px 0 0 0;background: url(http://qidailaw.liphin.com:3100/assets/img/mini/mini27.jpg) no-repeat center center;background-size: cover">
        <!--标题-->
        <div style="font-size: 35px;">
            <span style="font-weight: bold; color: white">婚姻继承</span>
            <span style="font-weight: bold; color: white">服务范围</span>
        </div>

        <!--中间流程图-->
        <div align="center" style="position:relative;width: 1300px;height: 350px;margin-top: 30px;color: #FFFFFF">
            <div style="width: 1300px;height: 60px;text-align: center;">
                <div style="display: inline-block;width: 200px;height: 60px;background-color: #ac9246">
                    <span style="vertical-align: middle;font-size: 23px;line-height: 60px">婚约纠纷</span>
                </div>
                <div style="margin-left:60px;display: inline-block;width: 200px;height: 60px;background-color: #ac9246">
                    <span style="vertical-align: middle;font-size: 23px;line-height: 60px">离婚纠纷</span>
                </div>
            </div>
            <div style="width: 1300px;height: 60px;text-align: center;margin-top: 25px">
                <div style="display: inline-block;width: 200px;height: 60px;background-color: #ac9246">
                    <span style="vertical-align: middle;font-size: 23px;line-height: 60px;">家庭纠纷</span>
                </div>
                <div style="margin-left:60px;display: inline-block;width: 200px;height: 60px;background-color: #ac9246">
                    <span style="vertical-align: middle;font-size: 23px;line-height: 60px;">财产纠纷</span>
                </div>
            </div>
            <div style="width: 1300px;height: 60px;text-align: center;margin-top: 25px">
                <div style="display: inline-block;width: 200px;height: 60px;background-color: #ac9246">
                    <span style="vertical-align: middle;font-size: 23px;line-height: 60px;">子女抚养</span>
                </div>
                <div style="margin-left:60px;display: inline-block;width: 200px;height: 60px;background-color: #ac9246">
                    <span style="vertical-align: middle;font-size: 23px;line-height: 60px;">遗产继承</span>
                </div>
            </div>
        </div>
    </div>


    <!--尾部-->
    <div style="width: 100%; height: 600px;background-image: url(http://qidailaw.liphin.com:3100/assets/img/mini/mini20.jpg);background-size: cover">
        <div style="width: 1230px;margin-top: 30px; position: relative;text-align: center">
            <div style="display: inline-block;position:relative;margin-top:60px;height: 500px;width: 500px;overflow: hidden;" align="left">
                <p style="font-size: 30px;font-weight: bold;color: white">联系我们</p>
                <p style="font-size: 13px;color: #e9e9e9">我们将与您携手共进，为公平正义而奋斗</p>
                <p style="font-size: 16px;color: white;margin-top: 30px">电话：020-84772013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮编：511400</p>
                <p style="font-size: 16px;color: white;">邮箱：3166862528@qq.com</p>
                <p style="font-size: 16px;color: white;">地址：广东省广州番禺区富华东路518号桥力大厦三楼</p>
                <p style="font-size: 16px;color: white;">（即番禺区公证处所在大楼三楼）</p>
            </div>
            <div style="display: inline-block;position:relative;margin-top:60px;height: 500px;width: 500px;margin-left: 70px;overflow: hidden;" align="left">
                <p style="font-size: 30px;font-weight: bold;color: white">法律咨询</p>
                <p style="font-size: 13px;color: #e9e9e9">免费法律咨询，请留言提交，我们将以最快的速度回复</p>
                <p style="margin-top: 30px">
                    <span style="font-size: 16px;color: white;">姓名：</span>
                    <span><input class="inputStyle" style="padding:5px;height:35px;width: 170px;" type="text" ng-model="ctrl.msgInfo['name']" maxlength="50"
                                 placeholder=""></span>
                    <span style="font-size: 16px;color: white;margin-left: 20px;">电话：</span>
                    <span><input class="inputStyle" style="padding:5px;height:35px;width: 170px;" type="text" ng-model="ctrl.msgInfo['phone']" maxlength="50"
                                 placeholder="">
                    </span>
                </p>
                <p style="margin-top: 15px">
                    <span style="font-size: 16px;color: white;">邮箱：</span>
                    <span><input class="inputStyle" style="padding:5px;height:35px;width: 220px;" type="text" ng-model="ctrl.msgInfo['mail']" maxlength="50"
                                 placeholder="">
                    </span>
                    <span style="font-size: 16px;color: #fff424">（*电话和邮箱任填一个*）</span>
                </p>
                <p style="margin-top: 15px;">
                    <span style="font-size: 16px;color: white;">内容：</span>
                </p>
                <p style="margin-top: 15px;">
                    <span>
                        <textarea class="textAreaStyle" style="padding:5px;width: 500px; height: 150px" ng-model="ctrl.msgInfo['content']"
                                  placeholder="">
                        </textarea>
                    </span>
                </p>
                <div style="width: 500px; height: 50px;text-align: center;padding-top: 17px; border: 1px solid lightgrey; border-width: 1px 0 0 0; margin-top: 20px">
                    <button ng-click="ctrl.cancleInfo()" class="btn btn-default"
                            style="display:inline;width: 120px;height: 40px">重置
                    </button>
                    <button ng-click="ctrl.saveMsgInfo()" class="btn btn-success"
                            style="margin-left:80px;display:inline;width: 120px;height: 40px">提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 200px;background: #151515;" align="center">
        <div style="width: 1230px; color: white; position: relative;text-align: center">
            <div>
                <li class="fa fa-handshake-o" style="margin-top: 20px;font-size: 50px"></li>
            </div>
            <div style="margin-top: 10px">
                <span style="font-size: 40px;color: white;font-family: 华文隶书">慎思，明辩，期待，进取</span>
            </div>
            <div style="margin-top: 10px">
                <span style="font-size: 15px;color: whitesmoke">选择我们，我们将为您提供专业优质的法律服务</span>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.factory('MyData',function () {
        var serverHost = 'http://qidailaw.liphin.com';
        var frontSerPort = 3100;
        var backSerPort = 8085;

        var saveMsgInfo = serverHost+":"+backSerPort+"/saveMsgInfo";
        var miniMainHtml = serverHost+":"+frontSerPort+"/src/officialPages/phone/mini/index.html";


        var requestDataErrorMsg = "尊敬的客户，服务异常，请稍后重试";

        var overallData = {
            loadData: false, //标识是否正在加载新闻数据
        };

        //留言信息管理
        var msgInfo = {
            'name':'',
            'phone':'',
            'mail':'',
            'content':'',
            'status_cd':0,
            'timestamp':'',
        };
        var zIndexHelper = {
            'loadData': 500000,
        };

        return {
            overallData:overallData,
            zIndexHelper:zIndexHelper,
            msgInfo:msgInfo,
            saveMsgInfo:saveMsgInfo,
            miniMainHtml:miniMainHtml,
            requestDataErrorMsg:requestDataErrorMsg,
        }
    });
    app.factory('MyGeneralSer',function ($window, $document, $http, MyData) {
        /** 工具类 **************************************************************************************/
        /**
         * 对数据进行判空处理
         * @param data
         */
        var checkDataNotEmpty = function (data) {
            var status = false;
            if (data != null && data != undefined) {
                //根据变量的不同类型进行判空处理
                switch (Object.prototype.toString.call(data)) {
                    /*String类型数据*/
                    case '[object String]': {
                        if (data.trim() != '') {
                            status = true;
                        }
                        break;
                    }
                    /*Array类型*/
                    case '[object Array]': {
                        if (data.length > 0) {
                            status = true;
                        }
                        break;
                    }
                    /*Object类型*/
                    case '[object Object]': {
                        if (Object.keys(data).length > 0) {
                            status = true;
                        }
                        break;
                    }
                    /*其他类型状态默认设置为true，分别为Number和Boolean类型*/
                    default: {
                        status = true;
                        break;
                    }
                }
            }
            return status;
        };

        /**
         * http get获取资源数据
         */
        var httpGetFiles = function (url, callback) {
            //设置loading状态
            MyData.overallData['loadData'] = true;

            $http({
                method: 'GET',
                url: url
            }).then(function successCallback(response) {
                if (response['status'] == 200) {
                    //返回正确操作后执行回调函数
                    callback(response['data'])

                } else {
                    alert(MyData.requestDataErrorMsg + ",.");
                }
            }, function errorCallback(err) {
                alert(MyData.requestDataErrorMsg + ".,");

            }).finally(function () {
                //重置loading状态
                MyData.overallData['loadData'] = false;
            });
        };


        /**
         * http post获取资源数据
         */
        var httpPostData = function (url, obj, callback) {
            //设置loading状态
            MyData.overallData['loadData'] = true;

            var fd = new FormData();
            //动态装载数据
            for (var i in obj) {
                fd.append(i, obj[i]);
            }
            $http.post(url, fd, {
                transformRequest: angular.identity,
                headers: {'Content-Type': undefined},

            }).success(function (response) {
                //返回正确操作后执行回调函数
                // callback(response);
                if (response['status_code'] == 200) {
                    //返回正确操作后执行回调函数
                    callback(response['data']);

                } else {
                    alert(MyData.requestDataErrorMsg + ".");
                }
            }).error(function (err) {
                alert(MyData.requestDataErrorMsg + ",");

            }).finally(function () {
                //设置loading状态
                MyData.overallData['loadData'] = false;
            });
        };


        /**
         * 组装生成新闻时间
         * @param createTime
         * @returns {string}
         */
        var generateShowTime = function (createTime) {
            var today = new Date();
            today.setHours(0);
            today.setMinutes(0);
            today.setSeconds(0);

            var replaceTime = createTime.replace(/\-/g, "/");
            var targetTime = new Date(replaceTime);
            if (today - targetTime < 0) {
                //当天发的新闻
                var Hours=targetTime.getHours();
                var Minutes=(targetTime.getMinutes()).toString();
                if (Minutes.length<2) {
                    Minutes="0"+Minutes;
                }

                return Hours + ":" + Minutes;

            } else {
                //之前发的新闻
                return (targetTime.getMonth()+1) + "月" + targetTime.getDate() + "日";
            }
        };

        return {
            checkDataNotEmpty:checkDataNotEmpty,
            httpGetFiles:httpGetFiles,
            httpPostData:httpPostData,
            generateShowTime:generateShowTime,

        }
    });
    app.factory('MySer',function ($window, $document, $http, MyData, $location, MyGeneralSer) {
        var saveMsgInfo = function () {
            if(!MyGeneralSer.checkDataNotEmpty(MyData.msgInfo['name'])) {
                alert("请输入您的称呼");
                return;
            }
            else if(!MyGeneralSer.checkDataNotEmpty(MyData.msgInfo['phone'])&&!MyGeneralSer.checkDataNotEmpty(MyData.msgInfo['mail'])) {
                alert("请输入您的联系电话或邮箱");
                return;
            }
            else if(!MyGeneralSer.checkDataNotEmpty(MyData.msgInfo['content'])) {
                alert("请输入您需要咨询的问题");
                return;
            }

            var timestamp = (new Date()).valueOf();
            MyData.overallData['loadData'] = true;
            MyData.msgInfo['timestamp'] = timestamp;

            MyGeneralSer.httpPostData(MyData.saveMsgInfo,MyData.msgInfo,function (response) {
                MyData.overallData['loadData'] = false;
                alert("感谢您的信任，我们会尽快安排专业的律师与您联系");
                cancleInfo();
            });
        }

        var cancleInfo = function () {
            MyData.msgInfo['name']='';
            MyData.msgInfo['phone']='';
            MyData.msgInfo['mail']='';
            MyData.msgInfo['content']='';
            //$rootScope.$apply();
        }



        return {
            saveMsgInfo:saveMsgInfo,
            cancleInfo:cancleInfo,
        }
    });
    app.controller('MyCtrl',function ($scope,MyData,MySer) {
        var ctrl = this;
        ctrl.msgInfo = MyData.msgInfo;
        ctrl.overallData = MyData.overallData;

        /**
         * 保存留言
         * @see MySer.saveMsgInfo
         */
        ctrl.saveMsgInfo = function () {
            MySer.saveMsgInfo();
        }
        /**
         * 重置面板
         * @see MySer.cancleInfo
         */
        ctrl.cancleInfo = function () {
            MySer.cancleInfo();
        }
    });
</script>

</body>
</html>